.border-none .ant-select-selector  {
  border: none !important;
  box-shadow: none !important;
}

div.slick-track, div.my-auto {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

span.ant-checkbox-label {
  color: var(--color-dark-label) !important;
}

button.ant-typography-expand {
  color: var(--color-indigo) !important; 
}

.ant-input-group-addon {
  border-color: var(--color-white-enough-light) !important;
}